{% extends "general/nav_template.html" %}
{% load static %}
{% block title %}Manage Forms{% endblock %}
{% block content %}
<style>
    .l_status {

    }
    .l_calendar {

    }
    .l_settings {
        
    }
</style>
<div class="container mt-5">
    <div class="d-flex align-items-center mb-4">
                <h2>Forms Management</h2>
                {% if form_name == "Student" %}
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" id="tab-status" href="#">Status</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-calendar" href="#">Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-settings" href="#">Settings</a>
                    </li>
                </ul>
                {% endif %}
            </div>


    {% if form_name == "Student" %}
    {% include "reading_logs/widgets/reading_log_calendar.html" %}
    {% endif %}

    <div class="card l_settings">
        <div class="container mt-5">
            <!-- JavaScript to handle tab switching and stylesheet display -->
            <script>function handleTabSwitch(tabToShow) {
                    if (tabToShow === 'l_settings') {
                            $("#calendar_graphs").addClass('d-none');
                        } else {
                            $("#calendar_graphs").removeClass('d-none');
                        }
                    const stylesheets = ['l_status', 'l_calendar', 'l_settings'];
                    stylesheets.forEach((sheet) => {
                        if (sheet === tabToShow) {
                            $(`.${sheet}`).css('display', 'block');
                        } else {
                            $(`.${sheet}`).css('display', 'none');
                        }
                    });
                }

                // Event listeners for tab clicks
                $('#tab-status').on('click', function() {
                    handleTabSwitch('l_status');
                    $('.nav-link').removeClass('active');
                    $(this).addClass('active');
                });
                $('#tab-calendar').on('click', function() {
                    handleTabSwitch('l_calendar');
                    $('.nav-link').removeClass('active');
                    $(this).addClass('active');
                    reading_log_calendar.updateSize();
                });
                $('#tab-settings').on('click', function() {
                    handleTabSwitch('l_settings');
                    $('.nav-link').removeClass('active');
                    $(this).addClass('active');
                });</script>
        </div>
        <div class="card-header border-bottom border-200 px-0">
            <div class="row flex-between-center gy-2 px-x1">
                <div class="col-auto pe-0">
                    <h6 class="mb-0">Forms</h6>
                </div>
                {% if change_password_form %}
                <div class="col-auto">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#changePasswordModal">
                        Change Password
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
        {{ form.errors }}
        <form id="dynamic-form" method="post">
            {% csrf_token %}
            <div class="card-body p-0">
                <div class="table-responsive scrollbar">
                    <table class="table table-sm mb-0 fs-10 table-view-forms" id="table-form-body">
                        <thead class="bg-body-tertiary">
                        <tr>
                            <th class="text-800 sort align-middle ps-2">Field</th>
                            <th class="text-800 sort align-middle ps-2">Value</th>
                        </tr>
                        </thead>
                        <tbody class="list" id="form-table-body">
                        <!-- This will display all the form fields dynamically -->
                        {% for field in form %}
                        <tr>
                            <td class="align-middle">{{ field.label_tag }}</td>
                            <td class="align-middle">
                                {{ field }}
                                {% if field.errors %}
                                <div class="text-danger">{{ field.errors }}</div>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button type="button" class="btn btn-danger" id="btn-delete-record">Delete</button>
                <button type="submit" class="btn btn-primary" id="btn-save-form">Save</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePasswordLabel">Change Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="change-password-form" method="post">
                    {% csrf_token %}
                    {{ change_password_form.as_p }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-cancel-change-password">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary" id="btn-save-change-password">Save</button>
            </div>
        </div>
    </div>
</div>

<script>$(document).ready(function() {
    $('#dynamic-form').on('submit', function(e) {
        e.preventDefault();
        const form = new FormData(this);
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        form.append('form_type', 'dynamic_form'); // Add form type for dynamic handling 

        $.ajax({
            url: this.action,
            method: 'POST',
            data: form,
            processData: false,
            contentType: false,
            headers: {
                'X-CSRFToken': csrfToken
            },
            success: function(response) {
                if (response.success) {
                    window.location.reload();
                } else {
                    $('#form-errors').html(response.form_errors);
                }
            }
        });
    });

    $('#btn-delete-record').on('click', function() {
        if (confirm('Are you sure you want to delete this record?')) {
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            
            $.ajax({
                url: this.action,  // Replace with actual delete URL
                method: 'DELETE',
                data: {
                    csrfmiddlewaretoken: csrfToken,
                    delete: true
                },
                success: function() {
                    window.location.href = '{ prev_url }'; // Redirect to the previous page
                }
            });
        }
    });
    
    function templateRender(item, selectElement) {
        if (!item.id) {
            return item.text;
        }

        const selectedIds = $(selectElement).select2('data').map(option => option.id);
        if (selectedIds.includes(item.id)) {
            return null;
        }

        return item.text;
    }

    // Initialize Select2 for any select fields
    $('select').each(function() {
        $(this).select2({
            placeholder: '',
            allowClear: true,
            width: 'resolve', // Resolve the width of the container to fit the element
            closeOnSelect: false, // Keep dropdown open when selecting items
            templateResult: (item) => templateRender(item, this)
        }).on('select2:select', function (e) {
            $(e.target).select2('close').select2('open');
        });
    });

    $('#btn-save-change-password').on('click', function() {
        const changePasswordForm = $('#change-password-form')[0];
        const form = new FormData(changePasswordForm);
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        $.ajax({
            url: '/api/password_change/{{ id }}',
            method: 'POST',
            data: form,
            processData: false,
            contentType: false,
            headers: {
                'X-CSRFToken': csrfToken
            },
            success: function(response) {
                if (response.success) {
                    $('#change-password-form')[0].reset();
                    $('#changePasswordModal').modal('hide');
                } else {
                    $('#change-password-form').prepend('<div class="text-danger">'+response.form_errors+'</div>');
                }
            }
        });
    });

    $('#btn-cancel-change-password').on('click', function() {
        $('#change-password-form')[0].reset();
        $('#changePasswordModal').modal('hide');
    });

});</script>
{% endblock %}