{% extends "general/nav_template.html" %}
{% load static %}
{% block title %}read | {{ user_type }}(s){% endblock %}
{% block content %}
<script>function fetchUsers(page = 1, userType = '', searchQuery = '', sortField = 'id', sortOrder = 'asc') {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', `{% url "user_list" %}?page=${page}&user_type={{ user_type }}&search=${searchQuery}&sort_field=${sortField}&sort_order=${sortOrder}`, true);
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var data = JSON.parse(xhr.responseText);
                var users = data.users;
                var tableBody = document.getElementById('user-table-body');
                tableBody.innerHTML = '';
                for (var i = 0; i < users.length; i++) {
                    var row = `<tr>
                        <td class="align-middle fs-9 py-3">
                          <div class="form-check mb-0">
                            <input class="form-check-input" type="checkbox" id="table-view-users-${i}" data-user-id="${users[i].id}" data-bulk-select-row="data-bulk-select-row" onchange="handleCheckboxChange()" />
                          </div>
                        </td>
                        <td class="align-middle">${users[i].id}</td>
                        <td class="align-middle"><a href="/{{ user_type }}/${users[i].id}/">${users[i].first_name}</a></td>
                        <td class="align-middle">${users[i].last_name}</td>
                        <td class="align-middle">${users[i].email}</td>
                      </tr>`;
                    tableBody.innerHTML += row;
                }
                document.getElementById('pagination').innerHTML = `
                    <button class="btn btn-sm btn-falcon-default me-1" type="button" title="Previous" ${data.has_previous ? '' : 'disabled'} onclick="fetchUsers(${data.page_number - 1}, '${userType}', '${searchQuery}', '${sortField}', '${sortOrder}')">
                        <span class="fas fa-chevron-left"></span>
                    </button>
                    <span>Page ${data.page_number} of ${data.num_pages}</span>
                    <button class="btn btn-sm btn-falcon-default ms-1" type="button" title="Next" ${data.has_next ? '' : 'disabled'} onclick="fetchUsers(${data.page_number + 1}, '${userType}', '${searchQuery}', '${sortField}', '${sortOrder}')">
                        <span class="fas fa-chevron-right"></span>
                    </button>
                `;
            }
        };
        xhr.send();
    }

    function handleCheckboxChange() {
        const allCheckboxes = document.querySelectorAll('input[data-bulk-select-row]');
        const selectAllCheckbox = document.getElementById('checkbox-bulk-table-users-select');
        const checkedCheckboxes = document.querySelectorAll('input[data-bulk-select-row]:checked');
        const bulkActions = document.getElementById('table-user-actions');
        const searchBar = document.getElementById('search-bar');
        const addButton = document.getElementById('add-button');

        selectAllCheckbox.indeterminate = checkedCheckboxes.length > 0 && checkedCheckboxes.length < allCheckboxes.length;
        selectAllCheckbox.checked = checkedCheckboxes.length === allCheckboxes.length;

        if (checkedCheckboxes.length > 0) {
            bulkActions.classList.remove('d-none');
            searchBar.classList.add('d-none');
            addButton.classList.add('d-none');
        } else {
            bulkActions.classList.add('d-none');
            searchBar.classList.remove('d-none');
            addButton.classList.remove('d-none');
        }
    }

    function handleSelectAllCheckboxChange() {
        const selectAllCheckbox = document.getElementById('checkbox-bulk-table-users-select');
        const allCheckboxes = document.querySelectorAll('input[data-bulk-select-row]');
        allCheckboxes.forEach(checkbox => {
            checkbox.checked = selectAllCheckbox.checked;
        });
        handleCheckboxChange();
    }

    function handleBulkAction() {
        const actionSelect = document.querySelector('select[aria-label="Bulk actions"]');
        const selectedAction = actionSelect.value;

        if (selectedAction === 'Delete') {
            if (!confirm("Are you sure you would like to delete all these {{ user_type }}(s)?")) {
                return;
            }

            const checkedCheckboxes = document.querySelectorAll('input[data-bulk-select-row]:checked');
            const userIds = Array.from(checkedCheckboxes).map(checkbox => checkbox.getAttribute('data-user-id'));

            if (userIds.length > 0) {
                const xhr = new XMLHttpRequest();
                const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                xhr.open('POST', `{% url "delete_users" %}`, true);
                xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.setRequestHeader('X-CSRFToken', csrfToken);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        var data = JSON.parse(xhr.responseText);
                        if (data.success) {
                            fetchUsers();
                        } else {
                            alert('Failed to delete users.');
                        }
                    }
                };
                xhr.send(JSON.stringify({user_ids: userIds}));
            }
        }
    }

    function handleFormSubmit(e) {
        e.preventDefault();
        var form = new FormData(document.getElementById('invite-form'));
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        form.append('form_type', 'invite_form');

        $.ajax({
            url: '{% url "invite_user" %}',
            method: 'POST',
            data: form,
            processData: false,
            contentType: false,
            headers: {
                'X-CSRFToken': csrfToken
            },
            success: function(response) {
                if (response.success) {
                    $('#inviteModal').modal('hide');
                    document.getElementById('form_errors').innerHTML = '';
                    document.getElementById('invite-form').reset();
                    fetchUsers();
                } else {
                    document.getElementById('form_errors').innerHTML = response.form_errors;
                }
            }
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('filter-form').addEventListener('submit', function (e) {
            e.preventDefault();
            var userType = document.getElementById('user-type');
            var searchQuery = document.getElementById('search-query').value;
            fetchUsers(1, userType ? userType.value : '', searchQuery);
        });

        document.getElementById('checkbox-bulk-table-users-select').addEventListener('change', handleSelectAllCheckboxChange);

        document.querySelectorAll('[data-sort]').forEach(function(header) {
            header.addEventListener('click', function() {
                var sortField = this.getAttribute('data-sort');
                var currentSortOrder = this.getAttribute('data-sort-order') || 'asc';
                var newSortOrder = currentSortOrder === 'asc' ? 'desc' : 'asc';
                this.setAttribute('data-sort-order', newSortOrder);
                fetchUsers(1, '', '', sortField, newSortOrder);
            });
        });

        document.getElementById('invite-form').addEventListener('submit', handleFormSubmit);
        
        fetchUsers();  // Initial load
    });</script>
<div class="card">
    <div class="card-header border-bottom border-200 px-0">
        <div class="row flex-between-center gy-2 px-x1">
            <div class="col-auto pe-0">
                <h6 class="mb-0">{{ user_type|upper }}(s)</h6>
            </div>
            <div class="col-auto d-flex">
                <form id="filter-form" class="me-2">
                    <div id="search-bar" class="input-group input-search-width">
                        <input class="form-control form-control-sm shadow-none search" type="text" id="search-query"
                               name="search" placeholder="Search by email..." aria-label="search"/>
                        <button class="btn btn-sm btn-outline-secondary border-300 hover-border-secondary"><span
                                class="fa fa-search fs-10"></span></button>
                    </div>
                </form>
                <button id="add-button" class="btn btn-sm btn-success" data-bs-toggle="modal"
                        data-bs-target="#inviteModal">Add
                </button>
                <div class="bg-300 mx-3 d-none d-lg-block d-xl-none" style="width:1px; height:29px"></div>
                <div class="d-none" id="table-user-actions">
                    <div class="d-flex">
                        <select class="form-select form-select-sm" aria-label="Bulk actions">
                            <option selected="">Bulk actions</option>
                            <option value="Delete">Delete</option>
                            <option value="Archive">Archive</option>
                        </select>
                        <button class="btn btn-falcon-default btn-sm ms-2" type="button" aria-label="Apply"
                                onclick="handleBulkAction()">Apply
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body p-0">
        <div class="table-responsive scrollbar">
            <table class="table table-sm mb-0 fs-10 table-view-users" id="table-user-body">
                <thead class="bg-body-tertiary">
                <tr>
                    <th class="py-2 fs-9 pe-2" style="width: 28px;">
                        <div class="form-check d-flex align-items-center">
                            <input class="form-check-input" id="checkbox-bulk-table-users-select" type="checkbox"
                                   data-bulk-select='{"body":"table-user-body","actions":"table-user-actions","replacedElement":"table-user-replace-element"}'/>
                        </div>
                    </th>
                    <th class="text-800 sort align-middle ps-2" data-sort="id">ID</th>
                    <th class="text-800 sort align-middle" data-sort="first_name">First Name</th>
                    <th class="text-800 sort align-middle" data-sort="last_name">Last Name</th>
                    <th class="text-800 sort align-middle" data-sort="email">Email</th>
                </tr>
                </thead>
                <tbody class="list" id="user-table-body">
                <!-- Rows will be dynamically inserted here -->
                </tbody>
            </table>
        </div>
        <div id="pagination" class="d-flex justify-content-between mt-2">
            <!-- Pagination buttons will be inserted here -->
        </div>
    </div>
</div>

<!-- Invite Modal -->
<div class="modal fade" id="inviteModal" tabindex="-1" aria-labelledby="inviteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inviteModalLabel">Add {{ user_type|upper }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="invite-form" autocomplete="off" action="{% url 'invite_user' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="user-type" name="user_type" value="{{ user_type }}">
                    <div id="form-content">
                        <div class="mb-3" id="form_errors"></div>
                        <div class="mb-3">
                            {{ invite_form.email.label_tag }}
                            {{ invite_form.email}}
                            {{ invite_form.email.errors }}
                        </div>
                        <div class="mb-3">
                            {{ invite_form.first_name.label_tag }}
                            {{ invite_form.first_name}}
                            {{ invite_form.first_name.errors }}
                        </div>
                        <div class="mb-3">
                            {{ invite_form.last_initial.label_tag }}
                            {{ invite_form.last_initial}}
                            {{ invite_form.last_initial.errors }}
                        </div>
                        {% if user_type == "student" %}
                        <div class="mb-3">
                            {{ invite_form.username.label_tag }}
                            {{ invite_form.username}}
                            {{ invite_form.username.errors }}
                        </div>
                        <div class="mb-3">
                            {{ invite_form.password.label_tag }}
                            {{ invite_form.password}}
                            {{ invite_form.password.errors }}
                        </div>
                        {% elif user_type == "parent" %}
                        <div class="mb-3">
                            {{ invite_form.students.label_tag }}
                            {{ invite_form.students }}
                            {{ invite_form.students.errors }}
                        </div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary">Send Invite</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function templateRender(item, selectElement) {
        if (!item.id) {
            return item.text;
        }

        const selectedIds = $(selectElement).select2('data').map(option => option.id);
        if (selectedIds.includes(item.id)) {
            return null;
        }

        return item.text;
    }

    // Initialize Select2 for any select fields
        $('select').each(function() {
            $(this).select2({
                placeholder: '',
                allowClear: true,
                width: 'resolve', // Resolve the width of the container to fit the element
                dropdownParent: $('#inviteModal'), // Ensure dropdown displays in front of the modal
                closeOnSelect: false, // Keep dropdown open when selecting items
                templateResult: (item) => templateRender(item, this)
            }).on('select2:select', function (e) {
                $(e.target).select2('close').select2('open');
            });
        });
</script>
{% endblock %}